.productsMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
}

.productsOptions {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 10px;
    border-radius: 7px;
}

.productsOptions form{
    position: relative;
}

.productsOptions form input{
    height: 50px;
    width: 360px;
    outline: none;
    border: 1px solid rgb(220, 220, 220);
    padding-left: 12px;
    font-size: 14px;
    border-radius: 5px;
    font-family: Poppins-Regular;
    letter-spacing: .3px;
    color: rgb(0 0 0 / 88%);
}

.productsOptions form input:focus{
    border: 1px solid #10B981;
}

.productsOptions form button{
    height: 50px;
    width: 50px;
    border: none;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 0;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    background-color: #10B981;
    transition: 150ms;
}

.productsOptions form button:hover{
    background-color: #039068;
}

.productsModalOverlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
}

.productsModalOverlay.modalToggle {
    display: flex;
}

.productsModal {
    padding: 70px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    border-radius: 7px;
}

.productsTitleInput {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgb(220, 220, 220);
    background-color: #F3F4F6;
    padding-left: 12px;
    font-size: 14px;
    border-radius: 5px;
    font-family: Poppins-Regular;
    letter-spacing: .3px;
    transition: 200ms;
}

.productsTitleInput:hover{
    border: 1px solid #8a8a8a;
}

.productsTitleInput:focus{
    border: 1px solid #8a8a8a;
}

.productsTitleInput::placeholder {
    color: black;
}

.countInputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productsInput {
    width: 32%;
    height: 40px;
    outline: none;
    border: 1px solid rgb(220, 220, 220);
    background-color: #F3F4F6;
    padding-left: 12px;
    font-size: 14px;
    border-radius: 5px;
    font-family: Poppins-Regular;
    letter-spacing: .3px;
    transition: 200ms;
}

.productsInput::placeholder {
    color: black;
}

.productsInput:hover{
    border: 1px solid #8a8a8a;
}

.productsInput:focus{
    border: 1px solid #8a8a8a;
}

.productsModalBrandsSelect {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    background-color: #F3F4F6;
    padding: 0 12px;
    font-family: Inter-Regular;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    user-select: none;
    cursor: pointer;
    border-radius: 7px;
    font-family: Poppins-Regular;
    letter-spacing: .3px;
}

.productsModalBrandsSelect.block {
    border-radius: 7px 7px 0 0;
}

.productsModalBrandsSelect i {
    font-size: 12px;
    color: black;
}

.productsModalBrandsOptions {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.productsModalBrandsOptions p:nth-child(1) {
    border-top: 1px solid rgb(220, 220, 220);
}

.productsModalBrandsOptions p:nth-last-child(1) {
    border-radius: 0 0 7px 7px;
}

.productsModalBrandsOptions p {
    width: 100%;
    transform: scaleX(100.5%);
    height: 40px;
    background-color: #F3F4F6;
    font-size: 14px;
    position: relative;
    padding-left: 12px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(220, 220, 220);
    border-top: none;
    color: black;
}

.descriptionInput {
    width: 100%;
    height: 100px;
    border: 1px solid rgb(220, 220, 220);
    background-color: #F3F4F6;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 7px;
    outline: none;
    resize: none;
    font-family: Poppins-Regular;
    letter-spacing: .3px;
    transition: 200ms;
}

.descriptionInput:hover{
    border: 1px solid #8a8a8a;
}

.descriptionInput:focus{
    border: 1px solid #8a8a8a;
}

.descriptionInput::placeholder{
    color: black;
}

.productsUpdateModalImage, .productsAddModalImage {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    background-color: #F3F4F6;
    border-radius: 7px;
    display: flex;
    align-items: center;
    transition: 200ms;
}

.productsUpdateModalImage:hover, .productsAddModalImage:hover{
    border: 1px solid #8a8a8a;
}

#uploadButton[type="file"]{
    display: none;
}

#uploadImageButton[type="file"]{
    display: none;
}

.uploadButtonLabel{
    display: inline-block;
    font-family: Poppins-Medium;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    letter-spacing: .3px;
    cursor: pointer;
}

.uploadButtonLabel img{
    width: 12px;
    margin-right: 3px;
}

.productsModalBrandsOptions p:hover {
    background-color: #dcddde;
}

.productsModalBrandsOptions.block {
    display: block;
}

.upload-list-inline .ant-btn {
    width: 300px;
    height: 40px;
}

.upload-list-inline .ant-upload-list-item {
    height: 80px !important;
}

.productsButton {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #10B981;
    color: white;
    font-family: Inter-Bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: 150ms;
    user-select: none;
}

.productsButton:hover {
    background-color: #039068;
}

.productsModal .closeModal {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.productsButtonMain {
    padding: 0 30px;
    height: 50px;
    border: none;
    background-color: #10B981;
    color: white;
    font-family: Inter-SemiBold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.productsButtonMain:hover {
    background-color: #039068;
}

.productsButtonMain i {
    font-size: 12px;
}

table {
    border: 1px solid #d6dae1;
}

.productsUpdateModalOverlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
}

.productsUpdateModalOverlay.modalToggle {
    display: flex;
}

.productsUpdateModal {
    padding: 70px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    border-radius: 7px;
}

.productsUpdateModal .closeModal {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.productsUpdateModal .closeUpdateModal {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productsUpdateModalGetImages {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.productsUpdateModalGetImages img {
    width: 100%;
    height: 130px;
    border-radius: 5px;
}

.ant-modal-confirm-body-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-button{
    background: #ef2525;
}

.delete-button:hover{
    background: #cf2121 !important;
}

.ant-btn-danger:hover {
    background: #f35262 !important;
}

.ant-table-column-title,
.ant-table-cell {
    user-select: none;
}

.ant-switch {
    background: #ef2525 !important;
}

.ant-switch-checked {
    background: #28A745 !important;
}