.adminLogin{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.adminLoginContainer{
    width: 450px;
    padding: 30px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.adminLoginContainer p{
    font-family: Poppins-Regular;
    font-size: 18px;
}

.adminLoginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.adminLoginForm input{
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    padding-left: 60px;
    font-family: Poppins-Regular;
    font-size: 15px;
}

.adminLoginForm input:focus{
    border: 2px solid #343A40;
}

.adminLoginForm input::placeholder{
    color: #9e9e9e;
}

.adminLoginInputBox{
    position: relative;
}

.inputBox{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #343A40;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox i{
    color: white;
    font-size: 18px;
}

.invalidLogin{
    color: red;
    font-size: 13px;
    font-family: Poppins-Regular;
}

.adminLoginPassword{
    position: relative;
}

.adminLoginPassword .bi-eye-fill, .adminLoginPassword .bi-eye-slash-fill{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #32373d;
    cursor: pointer;
}

.adminLoginForm button{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #343A40;
    color: white;
    font-family: Poppins-SemiBold;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminLoginForm button:hover{
    background-color: #222529;
}

.adminLoginForm button img{
    width: 80px;
}