.userMain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
}

.userOptions{
    display: flex;
    justify-content: end;
    background-color: white;
    padding: 20px 10px;
    border-radius: 7px;
}

.userModalOverlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
}

.userModalOverlay.modalToggle{
    display: flex;
}

.userModal{
    width: 600px;
    padding: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    border-radius: 7px;
}

.userTitleInput{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgb(220, 220, 220);
    background-color: #F3F4F6;
    padding-left: 12px;
    border-radius: 5px;
    font-family: Poppins-Regular;
    letter-spacing: .3px;
    font-size: 14px;
    transition: 200ms;
}

.userTitleInput:hover{
    border: 1px solid #8a8a8a;
}

.userTitleInput:focus{
    border: 1px solid #8a8a8a;
}

.userNameInputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.userNameInputs input{
    width: 49%;
}

.userPasswordInput{
    width: 100%;
    position: relative;
}

.userPasswordInput i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: rgb(78, 78, 78);
    cursor: pointer;
}

.userPasswordInput input{
    font-family: Poppins-Regular;
    letter-spacing: .3px;
    font-size: 14px;
}

.userButton{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #10B981;
    color: white;
    font-family: Inter-Bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: 150ms;
}

.userButton:hover{
    background-color: #039068;
}

.userModal .closeModal{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.userButtonMain{
    padding: 0 30px;
    height: 50px;
    border: none;
    background-color: #10B981;
    color: white;
    font-family: Inter-SemiBold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 150ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.userButtonMain:hover{
    background-color: #039068;
}

.userButtonMain i{
    font-size: 12px;
}

table{
    border: 1px solid #d6dae1;
}

.ant-btn-danger:hover{
    background-color: #f35262 !important;
}

.ant-table-wrapper a{
    font-family: Poppins-Regular;
    letter-spacing: .3px;
}